.Trash-0
.ipynb_checkpoints
__pycache__
CNN-Transfer-Learning/CIFAR10_image_classification/model.zip
CNN-Transfer-Learning/CIFAR10_image_classification/data.zip
CNN-Transfer-Learning/CIFAR10_image_classification/data/
CNN-Transfer-Learning/CIFAR10_image_classification/model/
