scipy
numpy
pandas
matplotlib
seaborn
jupyterlab
scikit-learn
thop
albumentations
opencv-python
imgaug
torch
torchvision
torchtext
nltk
gensim
portalocker
datasets
streamlit
plotly
Pillow
